<footer id="footer">
  <p id="footer-info">
    <a href="https://hexo.io/zh-cn/" id="footer-hexo">Hexo</a>
    Theme
    <a href="" id="footer-theme">&hearts;Sally&hearts;</a>
    by
    <a href="https://tony5t4rk.github.io/" id="theme-author">Tony5t4rk</a>
  </p>
</footer>