#archive {
  margin: 0;
  padding: 16px 16px 16px 56px;
  background-color: rgba(250, 249, 222, 0.2);
  // border: 1px solid black;
}

#post-archive {
  margin: 0;
  padding: 0;
  list-style: none;
  // border: 1px solid black;
}

.archive-post-item {
  margin: 22px 60px;
  padding: 6px 0;
  align-items: center;
  border-bottom: 0.6px solid rgba(188, 188, 188, 0.5);
  // border: 1px solid black;
}

.archive-post-date {
  margin: 0 0 0 16px;
  font-size: 1rem;
}

.archive-post-title {
  margin: 0 0 0 16px;
  font-size: 1.5rem;
}
