#footer {
  position: relative;
  margin: 0 0 0 310px;
  height: 70px;
  padding: 0 16px;
  text-align: center;
  background-color: rgb(250, 250, 250);
  // border: 1px solid black;
}

#footer-info {
  display: inline-block;
}

#footer-hexo {
  color: rgb(14, 131, 205);
}

#footer-hexo:hover{
  color: rgb(244, 67, 54);
}

#footer-theme {
  color: rgb(241, 105, 126);
}

#footer-theme:hover{
  color: rgb(244, 67, 54);
}

#theme-author {
  color: rgb(244, 67, 54);
}

#theme-author:hover{
  color: rgb(255, 235, 59);
}
