#post {
  padding: 60px;
  background-color: rgba(250, 249, 222, 0.2);
  // border: 1px solid black;
}

.post-title {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  border-bottom: 0.6px solid rgba(213, 155, 246, 0.6);
  // border: 1px solid black;
}

.title {
  margin: 0 0 10px 0;
}

#post a {
  color: rgb(52, 144, 222);
}

#post a:hover {
  color: rgb(244, 67, 54);
}
